/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@import url(https://fonts.googleapis.com/css?family=Lekton|Montserrat);

// Titles
h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

//Body
html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #f0f0f0;
  font-family: 'Lekton', sans-serif;
}

// Navbar
md-tab-group {
  background-color: pink;
}
.mat-tab-body-wrapper {
  color: white;
  background-color: red;
}
.mat-tab-label.mat-tab-label-active {
  background-color: #3f51b5;
}

.spacer{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.space_bet{

  //background:green;
  display: flex;
  justify-content: space-between ;
  flex-wrap:  wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
-webkit-flex-flow: row wrap;

}



// Buttons
.mybtn-success{
  background: #1EB980;
  color: aliceblue;
}

.mybtn-danger{
  background: red;
  color: aliceblue;
}

.mybtn-warning{
  background: #FFCF44;
  color: black;
}

.mybtn-primary{
  background: #2196F3;
  color: black;
}

.my_navar{
  background: black;
  color: #1EB980;
}