<mat-grid-list cols="2" rowHeight="3:4">
  <!--grid-->
  <mat-grid-tile >

    <!--Card Artist-->
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>{{artista["name"]}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{artista.image[3]['#text']}}" >

      <mat-card-actions class="space_bet">
          <button mat-menu-item>
              <mat-icon>favorite_border</mat-icon>
              <span>LIKE</span>
            </button>
            <button mat-menu-item>
                <mat-icon>question_answer</mat-icon>
                <span>Comentarios</span>
              </button>
      </mat-card-actions>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>

      
        
      
      <div fxLayout="column" fxLayoutAlign="space-around start" class="contenedor_comment" >
        <mat-chip-list  *ngFor="let person of people">

         

          <mat-chip>{{person.name}}</mat-chip> <br/>
          <br>
        </mat-chip-list>

       
      </div>



    
    <div class='contenedor_div'>
    
      <mat-form-field class="example-full-width mi-imagen-abajo-derecha">
        <input matInput placeholder="Comment" value="">
        
        <button  mat-fab matSuffix class="my_btn_send">

            <mat-icon >send</mat-icon>
  
        </button>

      </mat-form-field>
      
    </div>

  

  </mat-grid-tile>

</mat-grid-list>    



