
<br>
<br>

<div class="main-div">

    
  
    <form action="" class="center">
        <h1>Login</h1>
      <div class="example-container">
        <!--Input User-->
        <mat-form-field>
          <input matInput placeholder="User">
        </mat-form-field>

        <!--Input Password-->
        <mat-form-field>
            <input matInput placeholder="Password" type="password">
        </mat-form-field>

        
        <button mat-raised-button class="mybtn-login-gmail" type="submit">Login</button>

      </div>
    </form>

  </div>