.example-container {
    display: flex;
    flex-direction: column;
  }
  

  .center{
    width: 30%;
    margin: 10px auto;
  }
  
  .main-div{
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mybtn-login-gmail{
      background: #B71C1C;
      color: aliceblue;
  }

  