<br>
<br>

<div class="main-div">
  <!-- 
  <i class="icon ion-md-heart"></i>
    -->
  

  
    <form action="" class="center"  #userForm="ngForm" (ngSubmit)="createUser(userForm)">
        <h1>Registro de usuario</h1>


      <div class="example-container">

        <!--Input Nombre-->
        <mat-form-field>
            <input matInput placeholder="Nombre" type="text" name="nombre" id="nombre" ngModel>
          </mat-form-field>

        <!--Input User-->
        <mat-form-field>
          <input matInput placeholder="Email" name="email" id="email" ngModel>
        </mat-form-field>

        <!--Input Password-->
        <mat-form-field>
            <input matInput placeholder="Password" type="password" name="password" id="password" ngModel>
        </mat-form-field>

        <!--Submit-->
        <button mat-raised-button class="mybtn-login-gmail" type="submit">Login</button>

      </div>
    </form>

  </div>