<br>
<br>

<div class="main-div">
  <!-- 
  <i class="icon ion-md-heart"></i>
    -->
  

  
    <form action="" class="center"  #userForm="ngForm" (ngSubmit)="createUser(userForm)">
        <h1>Registro de usuario</h1>


      <div class="example-container">
        <!--Input User-->
        <mat-form-field>
          <input matInput placeholder="User" name="user" id="user" ngModel>
        </mat-form-field>

        <!--Input Password-->
        <mat-form-field>
            <input matInput placeholder="Password" type="password" name="pass" id="pass" ngModel>
        </mat-form-field>

        <!--Submit-->
        <button mat-raised-button class="mybtn-login-gmail" type="submit">Login</button>

      </div>
    </form>

  </div>